.featured {
  height: auto;
}

.featured_vertical {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #121212 10%, transparent 90%);
}

.featured_horizontal {
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, #121212 30%, transparent 70%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 200px;
  padding-left: 30px;
}

.featured_name {
  font-size: 60px;
  font-weight: bold;
}

.featured_info {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

.featured_points,
.featured_year,
.featured_seasons {
  display: inline-block;
  margin-right: 15px;
}

.featured_points {
  color: #46d369;
}

.featured_description {
  margin-top: 15px;
  font-size: 20px;
  color: #999;
  max-width: 40%;
}

.featured_buttons {
  margin-top: 15px;
}

.featured_watchButton,
.featured_myListButton {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 25px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  opacity: 1;
  transition: all ease 0.3s;
}

.featured_watchButton:hover,
.featured_myListButton:hover {
  opacity: 0.7;
}

.featured_watchButton {
  background-color: #fff;
  color: #000;
}

.featured_myListButton {
  background-color: #333;
  color: #fff;
}

.featured_genres {
  margin-top: 15px;
  font-size: 18px;
  color: #999;
}

@media (max-width: 760px) {
  .featured {
    height: 100vh;
  }

  .featured_horizontal {
    padding-top: 150px;
  }

  .featured_name {
    font-size: 40px;
  }

  .featured_info {
    font-size: 16px;
  }

  .featured_description {
    font-size: 14px;
    max-width: 100%;
    margin-right: 30px;
    color: #ddd;
  }

  .featured_watchButton,
  .featured_myListButton {
    font-size: 16px;
  }

  .featured_genres {
    font-size: 14px;
  }
}
