header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  transition: all ease 0.5s;
}
.bg {
  background-color: #121212;
  box-shadow: 0 -5px 45px 25px #121212;
}

.header--logo img {
  height: 28px;
}
.header--logo {
  height: 100%;
}

.header--user img {
  height: 35px;
  border-radius: 3px;
}
.header--user {
  height: 100%;
}
